<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyx.admin.biz.mapper.resource.ResourceMapper">
    <resultMap id="ResourceBaseResultMap" type="com.longyx.admin.api.entity.resource.Resource">
        <id column="id" property="id"/>
        <result column="organization_id" property="organizationId"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="grant" property="grant"/>
        <result column="type" property="type"/>
        <result column="level" property="level"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
    <select id="findResourcesByRoleId" resultMap="ResourceBaseResultMap">
        select r.*
        from resource r,
        role_resource t
        where r.id = t.resource_id
        and t.role_id = #{id}
    </select>

</mapper>