<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyx.admin.biz.mapper.role.RoleMapper">
    <resultMap id="BaseResultMap" type="com.longyx.admin.api.entity.role.Role">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="ROLE_ID" jdbcType="INTEGER" property="roleId"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="ORGANIZATION_ID" jdbcType="BIGINT" property="organizationId"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="CREATE_USER" jdbcType="BIGINT" property="createUser" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="UPDATE_USER" jdbcType="BIGINT" property="updateUser" />
        <collection property="resourceSet" column="id"
                    fetchType="lazy"
                    select="com.longyx.admin.biz.mapper.resource.ResourceMapper.findResourcesByRoleId"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, ROLE_NAME, ROLE_CODE, CREATE_TIME, DESCRIPTION, ORGANIZATION_ID
    </sql>

    <select id="getRoleByUserId" parameterType="long" resultMap="BaseResultMap">
        SELECT su.ID,ROLE_ID,ROLE_NAME,ROLE_CODE,CREATE_TIME,DESCRIPTION,ORGANIZATION_ID
        FROM sys_role su
        LEFT JOIN sys_user_role sr ON sr.role_id = su.id
        WHERE sr.user_id = ${userId}
    </select>


    <insert id="addRoleBySelective">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="roleCode != null">
                role_code,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="organizationId != null">
                organization_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="organizationId != null">
                #{organizationId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateRoleBySelective">
        update sys_role
        <set>
            <if test="roleId != null">
                roleId = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="roleName != null">
                roleName = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                roleCode = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="organizationId != null">
                organizationId = #{organizationId,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser!= null">
                createUser = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                createUser= #{createUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>
