<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <resultMap id="BaseResultMap" type="com.longyx.admin.api.entity.user.User">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="NICKNAME" jdbcType="VARCHAR" property="nickname"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="SEX" jdbcType="INTEGER" property="sex"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="LAST_LOGIN_IP" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="IS_DELETED" jdbcType="INTEGER" property="isDeleted"/>
        <result column="STATUS" jdbcType="INTEGER" property="status"/>
        <result column="HEAD_IMAGE" jdbcType="VARCHAR" property="headImage"/>
        <result column="ORGANIZATION_ID" jdbcType="BIGINT" property="organizationId"/>
        <result column="COMP_ID" jdbcType="BIGINT" property="compId"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="CREATE_USER" jdbcType="BIGINT" property="createUser" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="UPDATE_USER" jdbcType="BIGINT" property="updateUser" />
        <collection property="roleList" ofType="com.longyx.admin.api.entity.role.Role"
                    column="id"
                    select="RoleMapper.findRolesByUserId"/>
    </resultMap>

    <resultMap id="BaseResultMapVO" type="com.longyx.admin.api.vo.UserVo">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="NICKNAME" jdbcType="VARCHAR" property="nickname"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="SEX" jdbcType="INTEGER" property="sex"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="STATUS" jdbcType="INTEGER" property="status"/>
        <result column="HEAD_IMAGE" jdbcType="VARCHAR" property="headImage"/>
        <result column="ORGANIZATION_ID" jdbcType="BIGINT" property="organizationId"/>
        <result column="COMP_ID" jdbcType="BIGINT" property="compId"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, USERNAME, NICKNAME, PASSWORD, SEX, PHONE, EMAIL, CREATE_TIME, UPDATE_TIME, LAST_LOGIN_IP, LAST_LOGIN_TIME, IS_DELETED, STATUS, HEAD_IMAGE, DEPT_ID, COMP_ID
    </sql>

    <select id="findUserByName" resultMap="BaseResultMap">
        select id, username, nickname, password, sex, phone, email,create_time, create_user, update_time, update_user,last_login_ip, last_login_time, is_deleted, status, head_image, organization_id,comp_id
        from sys_user
        where username = #{username}
    </select>

</mapper>
